<div class="row">
  <div class="board">
    <div ng-include src="'views/home/tabs.html'"></div>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" ng-attr-id="{{ tabid }}">
        <div ng-repeat="post in posts track by $index">
          <div class="row post">
            <div class="col-md-offset-1 col-md-2">
              <div class="row">
                {{ post.username }}
              </div>
              <div class="row">
                <img src="/images/avatar.jpg" width="50" height="50">
              </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                  <strong><a ng-href="{{ post.link }}">{{ post.title }}</a></strong>
              </div>
              <div class="row">     
                    {{ post.content }}
              </div>
              <!--<div>
                <p></p>
                <a href="#">Read more</a>
              </div>-->
              <div class="row">
                  <p></p>
                  <p>
                    <i class="icon-comment"></i> <a href="#" ng-click="cshow[$index] = !cshow[$index]">{{ post.ncomments }} Comments</a>
                    <div><i class="icon-tags"></i> Keywords:
                      <span ng-repeat="kw in post.keywords track by $index">
                        <a href="#"><span class="label label-info">{{ kw }}</span></a> 
                      </span>
                    </div>
                  </p>
              </div>
              <div class="row" ng-show="cshow[$index]">
                <div class="col-md-9">
                  <div class="panel panel-default widget">
                      <div class="panel-heading">
                          <span class="glyphicon glyphicon-comment"></span>
                          <h3 class="panel-title">
                              Comments</h3>
                          <span class="label label-info">
                              {{ post.ncomments }}</span>
                      </div>
                      <div class="panel-body">
                          <ul class="list-group">
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-xs-2 col-md-2">
                                          <img src="/images/avatar.jpg" width="50" height="50">
                                      </div>
                                      <div class="col-xs-7 col-md-7">
                                          <div class="comment-text">
                                              {{ comment.content }}
                                          </div>
                                          <div class="comment-text">
                                              {{ comment.author }}
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <a class="btn btn-default btn-xs"
                    ng-click="repub($index)"
                  >Repub <i class="fa fa-heart"></i>
                  </a>
              </div>
            </div>
          </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
