<div class="row">
  <div class="board">
    <div ng-include src="'views/home/tabs.html'"></div>
    
    <div class="tab-content">
      <div class="tab-pane fade in active" ng-attr-id="{{ tabid }}">

        <div ng-repeat="post in posts track by $index">
          <div class="row">
            <div class="col-md-offset-1 col-md-10">
              <div>
                  <strong><a ng-href="{{ post.link }}">{{ post.title }}</a></strong>
              </div>
              <div class="content">
                {{ post.content }}
              </div>
            </div>
          </div>
          <div class="row">
                <div class="col-md-offset-1 col-md-10">
                  <p></p>
                  <p>
                    <div><i class="icon-tags"></i> Keywords:
                    <span ng-repeat="kw in post.keywords track by $index">
                      <span><span class="label label-info">{{ kw }}</span></span> 
                    </span>
                    </div>
                  </p>
                </div>
          </div>
          <div class="row" ng-show="private">
              <a class="btn btn-default btn-xs">Publish <i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
